<div class="row justify-content-center mt-2 mb-2">
  <h1>AÑADE AVISTAMIENTO A LA BASE DE DATOS</h1>
</div>
<form
  (ngSubmit)="addAvistamiento(addAvistamientoForm)"
  #addAvistamientoForm="ngForm"
>
  <div class="row justify-content-center">
    <div class="col-10 col-lg-8">
      <mat-form-field appearance="standard">
        <mat-label>Localización del avistamiento</mat-label>
        <input
          type="text"
          matInput
          placeholder="Localización"
          [(ngModel)]="model.place"
          name="place"
          required
          (click)="setCoords()"
        />
        <mat-hint>Lugar de avistamiento(ej: Valencia)</mat-hint>
        <mat-error *ngIf="addAvistamientoForm.invalid"
            >Nombre de pájaro requerido</mat-error
          >
      </mat-form-field>
      <div class="row mt-4">
        <div class="col-12 col-lg-8">
          <span><mat-icon>location_searching</mat-icon></span
          ><span>{{ model.long }}</span
          >//<span>{{ model.lat }}</span>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <button
        [disabled]="model.lat == null || model.long == null || addAvistamientoForm.invalid"
        mat-raised-button
        color="primary"
      >
        Añadir
      </button>
    </div>
  </div>
</form>
