/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgrey;
}
/* override de estilo de checkbox en Angular Material */
.mat-checkbox-inner-container {
  height: 30px!important;
  width: 30px!important;
}

table {
  width: 50%;
}

