<div class="row justify-content-center">
  <h1>OPCIONES</h1>
</div>
<div class="row justify-content-center">
  <div class="col-lg-3 col-12 option text-center">
    <a routerLink="/lista">
      <img src="../../../assets/images/bird.png" alt="pájaro" />
      <p>LISTA DE AVES</p>
    </a>
  </div>
  <div class="col-lg-3 col-12 option text-center">
    <a routerLink="/añadir-ave">
      <img src="../../../assets/images/nest.png" alt="nido" />
      <p>AÑADIR AVE</p>
    </a>
  </div>
  <div class="col-lg-3 col-12 option text-center">
    <a routerLink="">
      <img src="../../../assets/images/info.png" alt="info" />
      <p>INFORMACION</p>
    </a>
  </div>
  <div class="col-lg-3 col-12 option text-center">
    <a href="" (click)="this.logOut()">
      <img src="../../../assets/images/exit.png" alt="log-out" />
      <p>SALIR</p>
    </a>
  </div>
</div>
