.card-ave {
  max-width: 400px;
}

mat-icon {
  font-size: 3em;
}

.mat-badge-content {
width: auto;
height: auto;
display: grid;
min-width: 32px;
min-height: 28px;
text-align: center;
align-items: center;
padding: 5px 3px;
top: -20px;
right: -22px;
}

.my-bird {
  color: green!important;
}

